.linha-do-cabecalho {
    justify-content: space-between;
}

.linha-do-cabecalho .menu {
    max-width: 425px;
    order: 3;
    justify-content: flex-end;
}

.menu button.imprimir {
    display: none;
}

article {
    max-width: 700px;
    font-size: 0.875rem;
    border-radius: 8px;
    margin-left: 190.52px;
}

.rmhiv article {
    margin-left: 20px;
}

/* Titulos */
article h1 {
	font-size: 1.5rem;
	margin-bottom: 10px;	
	line-height: 1.5;
}

article h2 {font-size: 1.375rem;}

article h3 {font-size: 1.25rem;}

article h4 {font-size: 1.125rem;}

article h5 {font-size: 1rem;}

article h6 {font-size: 0.875rem;}

article h2, 
article h3, 
article h4 {
	margin: 20px 0px 0px 0px;
	line-height: 1.5;
}

/* Paragrafos e trechos de texto */
article p, dl, dd, dt, 
article li {line-height: 1.5;}

article p, 
article ul, 
article ol,
article dl, 
article dl, 
article dt  {margin: 20px 0;}

article li {
    margin: 10px 0;
}

article ul {
    list-style: disc inside;
}

article li > ul {
    list-style: circle inside;
    padding-left: 20px;
}

article ol {
    list-style: decimal inside;
}

/* Politica de cookies */
#politica-de-cookies dl dt {
    font-weight: bold;
}

#politica-de-cookies dl dt:before {
    font-weight: bold;
    margin-right: 6px;
}

#politica-de-cookies dl dt#um:before {
    content: "1.";
}


#politica-de-cookies dl dt#dois:before {
    content: "2.";
}

#politica-de-cookies dl dt#tres:before {
    content: "3.";
}

#politica-de-cookies dt {
    font-size: 1rem;
}

#politica-de-cookies ul.lista-de-navegadores {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--cinza13);
}

#politica-de-cookies p.consentimento,
#conversao-pdf .nota {
    padding: 2px 2px 2px 15px;
    border-radius: 0 4px 4px 0;
    border: 1px solid var(--cinza10);
    border-left: 6px solid var(--cinza4);
    font-weight: bold;
}

.rmhiv #politica-de-cookies p.consentimento,
.rmhiv #conversao-pdf .nota {
    border-color: var(--azul);
}

/* Salvar como PDF */
#conversao-pdf mark.print {
    display: inline-block;
    margin: 0;
    text-align: center;
}

#conversao-pdf .nota {
    font-size: 12px;
}

.rmhiv #conversao-pdf .nota {
    border-left-color: var(--azul);
    font-size: 0.875rem;
}

/** SOBRE **/
.rmhiv #sobre ul:last-child {
    font-weight: bold;
}

img {
    max-width: 100%;
    object-fit: cover;
}

figure figcaption {
    color: var(--cinza8);
    border: 1px solid var(--cinza10);
    max-width: 698.5px;
    margin: -2px auto 0 auto;
    font-size: 0.75rem;
    padding: 2px;
    font-style: italic;
}