
/** Titulos **/

main h1 {
    font-size: 24px;
    line-height: 1.5;
    grid-column: 4/23;
}

main h1 input {
    border: none;
    outline: none;
    width: 364px;
    border-bottom: 1px solid #444;
    font-size: 16px;
}


.contentor-da-grade {
    display: grid;
    grid-template-columns: 20px 90px 228px repeat(19, 50px);
}

/*** Formatacoes Comuns ***/

main h1 input:focus, .col-de-inputs :not(input[readonly]):focus,
.linha-de-enumeracao-das-colunas p input:focus,
.col-da-linha-de-assinatura p input:focus {
    border-bottom: 2px solid #333;
}


/*** Classe manipulável com JS ***/
.col-de-inputs input[readonly] {
    transition: background-color 400ms ease-out;
}

.col-de-inputs.readonly input[readonly] {
    background-color: #ccc;
}

.col-de-inputs input[readonly]:hover {
    cursor: initial;
}

.bold {
    font-weight: bold;
}

.col-da-linha-superior .linha-de-enumeracao-das-colunas,
.col-da-linha-superior .linha-de-sexo {
    display: grid;
    grid-template-columns: 228px repeat(19, 50px);
    grid-template-rows: 24px;
    text-align: center;
}

.linha-de-enumeracao-das-colunas p input,
.col-da-linha-de-assinatura p input {
    border: none;
    outline: none;
    font-weight: bold;
    color: #333;
}

/** Linha Superior **/
.col-da-linha-superior {
    grid-row: 2;
    grid-column: 3/23;  
    position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #fff;
}

/** Enumeracao das Colunas **/
.col-da-linha-superior .linha-de-enumeracao-das-colunas {
    grid-template-rows: 18px;
}


.linha-de-enumeracao-das-colunas p {
    text-align: left;
    margin-bottom: 14px;
}

.linha-de-enumeracao-das-colunas p input {
    width: 84%;
}

.col-da-linha-superior .linha-de-enumeracao-das-colunas span {
    background-color: #444;
    color: #fff;
    border-color: #aaa;
}


/*** Faixas Etarias ***/

.col-da-linha-superior .linha-de-faixas-etarias {
    display: grid;
    grid-template-columns: 228px repeat(9, 100px) 50px;
    grid-template-rows: 24px;
    text-align: center;
}


.col-da-linha-superior span {
    border-right: 1px solid #888;
    border-top: 1px solid #888;
}

.col-da-linha-superior .linha-de-sexo span:nth-child(1),
.col-da-linha-superior .linha-de-faixas-etarias span:nth-child(1),
.primeiro-span-de-enumeracao-das-colunas {
    border-left: 1px solid  #888;
}

.primeiro-span-de-enumeracao-das-colunas {
    margin-left: -1px;
}

/*** Sexo ***/
span.sem-borda-superior {
    border-top: none;
}

/** Borda escura **/
.borda-escura {
    grid-row: 3;
    grid-column: 1/23;
    width: 100%;
    height: 10px;
    background-color: #444;
}


/*** Enumeracao das linhas ***/

.col-de-enumeracao-das-linhas,
.col-de-titulos-principais-das-linhas,
.col-de-consultas-e-diagnosticos,
.col-de-inputs {
    grid-row: 4;
}


.col-de-enumeracao-das-linhas,
.col-de-consultas-e-diagnosticos,
.col-de-inputs {
    display: grid;
    grid-template-rows: repeat(53, 24px);
}


.col-da-linha-superior span,
.col-de-enumeracao-das-linhas span,
.col-de-titulos-principais-das-linhas div {
    display: flex;
    justify-content: center;
    align-items: center;
}


.col-de-enumeracao-das-linhas  span {
    background-color: #444;
    color: #fff;
    border-bottom: 1px solid #aaa;
}


/*** Titulos principais das linhas ***/

.col-de-titulos-principais-das-linhas {
    display: grid;
    grid-template-rows: calc(24px*3) calc(24px*4) 1fr calc(24px*6) repeat(2, calc(24px*3));
}


.col-de-titulos-principais-das-linhas div {
    border-bottom: 1px solid #888;
}

.col-de-titulos-principais-das-linhas div span {
    text-align: center;
    font-weight: bold;
    transform: rotate(270deg);
}

/*** Consultas e diagnosticos ***/
.col-de-consultas-e-diagnosticos {
    border-left: 1px solid #888;
    border-right: 1px solid #888;
}

.col-de-consultas-e-diagnosticos span {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #888;
    padding-left: 2px;
    padding-right: 1px;
}

/*** Campos de insercao ***/

.col-de-inputs {
    grid-template-columns: 50px;
}

.col-de-inputs input {
    border: none;
    outline: none;
    border-bottom: 1px solid #888;
    border-right: 1px solid #888;
    text-align: center;
}

.col-de-inputs input[type=number]::-webkit-outer-spin-button,
.col-de-inputs input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.col-de-inputs input[type=number] {
    -moz-appearance: textfield;
}

/** Linha de assinatura **/
.col-da-linha-de-assinatura {
    grid-row: 5;
    grid-column: 1/9;
    display: flex;
    flex-direction: column;
}

.col-da-linha-de-assinatura p {
    line-height: 3;
}

.col-da-linha-de-assinatura p:last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-da-linha-de-assinatura p input {
    border-bottom: 1px solid #444;
}

.col-da-linha-de-assinatura p:first-child input {
    width: 312px;
}

.col-da-linha-de-assinatura p:last-child span:first-child input {
    width: 276px;
}


/* OBSERVACOES */

.observacoes p.obs {
    max-width: 263px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 15px #555;
    border-radius: 6px;
    font-size: 14px;
    position: fixed;
    left: calc(50vw - 262px * 1/2);
    bottom: 0;
    opacity: 0;
    line-height: 1.4;
    transition: all 20ms linear; 
}

.observacoes p.obs.on {
    opacity: 1;
    bottom: calc(50vh - 34px * 1/2); 
}

.observacoes p.obs > span {
    display: none;
}

.observacoes p.obs > span.show {
    display: initial !important;
}

.observacoes p.obs > span.show > span.entre-aspas {
    font-weight: bold;
}

/*** SETAS DE ROLAGEM ***/

.observacoes div.ancestral-de-seta {
    display: none;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 1300px) {
    .linha-do-cabecalho, footer div.linha-do-rodape {
        padding: 0 20px;
    }

    main {
        overflow-x: hidden;
    }

    main .contentor-da-grade {
        overflow-x: scroll;
    }

    .contentor-da-grade .col-de-consultas-e-diagnosticos,
    .linha-de-faixas-etarias span:first-child,
    .linha-de-sexo span:first-child,
    .col-da-linha-de-assinatura {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        background-color: #fff;
    }

    .col-da-linha-de-assinatura {
        padding-left: 20px;
    }

    .col-da-linha-de-assinatura p:first-child input {
        width: 295px;
    }

     /** SETAS ***/

    .observacoes div.ancestral-de-seta {
        display: block;
        width: 50px;
        height: 100vh; 
        position: fixed;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;

        transition-duration: 100ms;
    }

    .observacoes div.ancestral-de-seta:hover span {
        background-color: rgba(0, 0, 0, .3);
        flex: 1;
        font-size: 50px;
        text-align: center;
        transition-duration: 100ms;
        border-radius: 50%;
    }

    .observacoes div.ancestral-de-seta span:hover {
        cursor: pointer;
    }

    .observacoes div.ancestral-de-seta span:active {
        background-color: rgba(0, 0, 0, .6);
    }

    .observacoes div.ancestral-de-seta.lt {
        left: 0;
    }
    
    .observacoes div.ancestral-de-seta.gt {
        right: 0;
    }
}




@media screen and (max-width: 1023px) {
    .linha-do-cabecalho ul,
    .linha-do-cabecalho button {
        display: none;
    }

    .linha-do-cabecalho ul li:hover {
        background-color: initial;
    }

    .linha-do-cabecalho ul li label:active {
        background-color: #f4f4f4;
    }

    .linha-do-cabecalho {
        justify-content: space-between;
    }

    /* Menu mobile */
    .hamburguer {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25px;
        padding: 6px;
        border-radius: 5px;
    }


    .hamburguer div {
        width: 15px;
        height: 2px;
        margin: 1.5px 0;
        background-color: #888;
    }

    .hamburguer:hover {
        background-color: #eee;
        cursor: pointer;
    }

    /* Definições do menu */
    .linha-do-cabecalho ul.visible {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 30px;
        right: 22px;
        width: 40vw;
        height: 20vh;
        background: #fff;
        box-shadow: 0 0 8px #ddd;
        border-radius: 2px;
        padding: 4px;
        transition-duration: 150ms;
    }

    .linha-do-cabecalho ul.visible li {
        width: 100%;
    }

    .linha-do-cabecalho ul.visible li:hover{
        border: none;
        cursor: pointer;
    }
}


@media screen and (max-width: 775px) {
    .linha-do-cabecalho ul.visible {
        width: 55vw;
    }
}

@media screen and (max-width: 425px) {
    .linha-do-cabecalho ul.visible {
        width: 95vw;
    }
}


@media screen and (max-width: 750px) {
    .linha-do-rodape {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .linha-do-rodape div.outros-servicos {
        width: 100%;
        flex-basis: initial !important;
    }


    .linha-do-rodape p {
        margin-top: 5px;
    }
}




@media print {
    body {
        visibility: hidden;
    }

    

    main {
        margin-top: 0;
    } 
    .contentor-da-grade {
        visibility: initial;
    }

    .borda-escura {
        border-top: 10px solid #444;
    }

    .col-de-enumeracao-das-linhas span {
        border: 1px solid #888;
        border-top: none;
        color: #888
    }

    .col-da-linha-superior .linha-de-enumeracao-das-colunas span  {
        border-color: #888;
    }

    body .col-de-inputs input {
        border-color: #444 !important;
    }

    
}

