/* MOBILE ITEMS - DISPLAY NONE */

.linha-do-cabecalho .hamburguer,
.linha-de-referencia {
    display: none;
}


/* FORMATACOES GERAIS */
body {
    font-family: sans-serif, Arial, Helvetica;
    font-size: 12px;
}

body p, span, label, ul, ol,
h1, h2, h3, h4, h5, h6 {
    cursor: context-menu;
}

body b, strong {
    font-weight: bold;
}

*::selection {
    background-color: #444;
    color: #fff;
}

a {text-decoration: none;}

.linha-do-cabecalho a.logo span,
.linha-do-cabecalho ul li label:hover, button:hover {
    cursor: pointer;
}

/*** REUTLIZAVEL ***/
header, footer {
    width: 100%;
}

.linha-do-cabecalho, footer div.linha-do-rodape {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}


/* CABECALHO */
header {
    box-shadow: 0 0 10px #ddd;
    line-height: 2;
}

.linha-do-cabecalho {
    display: flex;
    align-items: center;
}

.linha-do-cabecalho > a {
    font-size: 16px!important;
    color: #333;
    font-weight: bold;
}

.linha-do-cabecalho a span {
    font-weight: initial;
}

/* NAVEGACAO */
.linha-do-cabecalho nav {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.linha-do-cabecalho nav ul {
    display: flex;
}

.linha-do-cabecalho nav ul li:first-child {
    display: flex;
    align-items: center;
}

.linha-do-cabecalho nav ul li:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.linha-do-cabecalho nav ul li label {
    padding: 4px 10px 4px 0;
}

.linha-do-cabecalho nav ul li a {
    display: inline-block;
    padding: 4px 10px;
} 

.linha-do-cabecalho nav ul li a:hover,
.linha-do-cabecalho nav ul li:first-child:hover {
    background-color: #f4f4f4;
} 

.linha-do-cabecalho nav ul li a:active,
.linha-do-cabecalho nav ul li:first-child:active {
    background-color: #ddd;
} 

.linha-do-cabecalho ul li input[type=checkbox] {
    width: 10px;
    height: 10px;
    margin-right: 4px;
    cursor: pointer;
}

.linha-do-cabecalho ul li label,
.linha-do-cabecalho ul li a, 
.linha-do-cabecalho ul li a:visited {
    color: #333;
}

/*** Botão de Impressão ***/
.linha-do-cabecalho button,
article mark.imprimir {
    display: block;
    margin-left: auto;
    margin-right: 10px;
    padding: 6px 3px;
    border-radius: 4px;;
    border: none;
    background-color: #444;
    color: #fff;
    font: bold 12px sans-serif, Arial, Helvetica;
    min-width: 100px;
}

.linha-do-cabecalho button:hover {
    background-color: #000;
}

/* RODAPÉ */
footer {
    background-color: #dce4f4;
    padding: 10px 0 40px;
}

footer .linha-do-rodape {
    display: flex;
    align-items: flex-start;
    line-height: 2;
}

.linha-do-rodape div {
    margin-right: 4%;
}


.linha-do-rodape p {
    align-self: center;
    flex: 1;
    text-align: center;
    margin-right: 10px;
}

.linha-do-rodape a.voltar,
.linha-do-rodape a.voltar:visited {
    margin-right: 10px;
    padding: 5px;
    color: #888;
}

/* DESFOQUE DO FUNDO */
div.desfoque-do-fundo.on {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    
}