/* MOBILE ITEMS - DISPLAY NONE */

.linha-do-cabecalho .hamburguer,
.linha-de-referencia, .partilha {
    display: none;
}


/* FORMATACOES GERAIS */
body {
    font-family: sans-serif, Arial, Helvetica;
    font-size: 12px;
    color: #202122;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
}

body p, span, label, ul, ol,
h1, h2, h3, h4, h5, h6 {
    cursor: context-menu;
}

body b, strong {
    font-weight: bold;
}

*::selection {
    background-color: #444;
    color: #fff;
}

a {
    text-decoration: none;
}

button {
    color: #202122;
}

button:hover {
    cursor: pointer;
}
/* CABECALHO E RODAPE */
header, footer {
    width: 100%;
}

header {
    box-shadow: 0 0 10px #ddd;
    line-height: 2;
}

.linha-do-cabecalho, 
.linha-do-rodape {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.linha-do-cabecalho {
    display: flex;
    align-items: center;
}

/* LOGO */
.linha-do-cabecalho > a {
    font-size: 16px!important;
    color: #000;
    font-weight: bold;
}

.linha-do-cabecalho a span {
    font-weight: initial;
}

.linha-do-cabecalho a.logo span:hover,
.linha-do-cabecalho ul li label:hover {
    cursor: pointer;
}


/* NAVEGACAO */
.linha-do-cabecalho .menu {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.menu ul {
    display: flex;
    align-items: center;
}

.menu ul li.denegrir-as-celulas-automaticas {
    display: flex;
    align-items: center;
}

.menu ul li.denegrir-as-celulas-automaticas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul li label {
    padding: 4px 10px 4px 0;
}

.menu ul li input[type=checkbox] {
    width: 10px;
    height: 10px;
    margin-right: 4px;
    cursor: pointer;
}

/* BOTOES DO MENU e às */
.menu ul li button {
    border: none;
    outline: none;
    background-color: inherit;
    font-size: 12px;
    display: inline-block;
    padding: 9px;
}

.menu ul li a {
    padding: 10px;
    color: inherit;
}

/** Hovers e actives **/
.menu ul li:first-child:hover,
.menu ul li button:hover,
.menu ul li a:hover {
    background-color: #f4f4f4;
}

.menu ul li:first-child:active,
.menu ul li button:active, 
.menu ul li a:active {
    background-color: #ddd;
    color: inherit;
}


/*** Botão de Impressão ***/
.linha-do-cabecalho button.imprimir,
article mark.imprimir {
    display: block;
    margin-left: auto;
    margin-right: 9px;
    padding: 6px 3px;
    border-radius: 4px;;
    border: none;
    background-color: #444;
    color: #fff;
    font: bold 12px sans-serif, Arial, Helvetica;
    min-width: 100px;
}

.linha-do-cabecalho button.imprimir:hover {
    background-color: #000;
    cursor: pointer;
}



/* RODAPÉ */
footer {
    background-color: #dce4f4;
    padding: 10px 0 80px;
}

.linha-do-rodape {
    display: flex;
    align-items: flex-start;
    line-height: 2;
}

.linha-do-rodape div {
    margin-right: 4%;
}

.linha-do-rodape div button {
    border: none;
    padding: 0;
    background-color: inherit !important;
    font-size: 12px;
    color: #0000EE;
}

.linha-do-rodape div button:active {
    color: red;
}

.linha-do-rodape p {
    align-self: center;
    flex: 1;
    text-align: center;
    margin-right: 10px;
}

.linha-do-rodape a.voltar,
.linha-do-rodape a.voltar:visited {
    margin-right: 10px;
    padding: 5px;
    color: #555;
}

/* DESFOQUE DO FUNDO */
div.desfoque-do-fundo.on {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}