body {
    font-family: sans-serif, Arial, Helvetica;
    font-size: 12px;
}

a {text-decoration: none;}

a:active,
.linha-do-cabecalho ul li label:active,
.linha-do-cabecalho button:active {
    color: red;
}

.linha-do-cabecalho ul li label:hover,
.linha-do-cabecalho button:hover {
    cursor: pointer;
}

/* SUMIR COM MOBILE LAYOUT */

.linha-do-cabecalho  .hamburguer {
    display: none;
}

/*** REUTLIZAVEL ***/
header, footer {
    width: 100%;
}

.linha-do-cabecalho, main, footer div.linha-do-rodape {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

/* CABECALHO */
header {
    box-shadow: 0 0 10px #ddd;
    line-height: 2;
}

.linha-do-cabecalho, 
.linha-do-cabecalho ul {
    display: flex;
    align-items: center;
}

/* LOGO */
.linha-do-cabecalho > a {
    font-size: 18px;
    color: #333;
    letter-spacing: 1px;
}

.linha-do-cabecalho a span {
    color: #888;
    font-size: 16px;
}

/* LISTA DE MENU OU PREFÊRENCIAS */
.linha-do-cabecalho ul {
    margin-left: 15px;
}

.linha-do-cabecalho ul li {
    display: flex;
    align-items: center;
    padding: 5px 8px;
    margin-right: 2px;
}

.linha-do-cabecalho ul li:first-child {
    min-width: 220px;
}

.linha-do-cabecalho ul li:hover {
    border-bottom: 1px solid #ddd;
    background-color: #f4f4f4;
}

.linha-do-cabecalho ul li input {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.linha-do-cabecalho ul li label,
.linha-do-cabecalho ul li a, 
.linha-do-cabecalho ul li a:visited {
    color: #333;
}



/*** Botão de Impressão ***/
.linha-do-cabecalho button {
    display: block;
    margin-left: auto;
    margin-right: 10px;
    padding: 6px 3px;
    border-radius: 4px;;
    border: none;
    background-color: #444;
    color: #fff;
    font-family: sans-serif, Arial, Helvetica;
    min-width: 100px;
}

.linha-do-cabecalho button:hover {
    background-color: #000;
}

/** Active ***/
.linha-do-cabecalho ul li.activo label {
    font-weight: bold;
}

/* main */
main {
    margin: 30px auto;
}


/* RODAPÉ */
footer {
    background-color: #dce4f4;
    padding: 10px 0 40px;
}

footer .linha-do-rodape {
    display: flex;
    align-items: center;
    
}

/* OUTROS SERVIÇOS */
.linha-do-rodape div.outros-servicos {
    flex-basis: calc(226px + 120px);
}


div.outros-servicos ul {
    /*list-style: disclosure-closed;*/
    list-style: circle;
    list-style-position: inside;
    padding-left: 4%;
}

div.outros-servicos h2,
div.outros-servicos ul li {
    line-height: 1.5;
}

div.outros-servicos ul li a,
div.outros-servicos ul li a:visited {
    color: #333;
}


/* PARAGRAFO */
div.linha-do-rodape p {
    color: #333;
    line-height: 2;
    flex: 1;
    text-align: center;
}







