/* REUTILIZAVEL */
section.atalhos-do-teclado,
div.caixa-de-confirmacao {
    max-width: 320px;
    padding: 10px;
    position: fixed;
}  

.observacoes p.readonlycels-obs,
.esvaziamento-da-ficha p.ficha-vazia-obs {
    max-width: 263px;
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
    position: fixed;
    left: calc(50vw - 262px * 1/2);
    box-shadow: 0 0 15px #555;
    background-color: #fff;
    line-height: 1.4;
    transition: all 150ms linear; 
    visibility: hidden;
}

section.atalhos-do-teclado p.footer,
article p.footer {
    font-size: 12px;
    text-align: center;
    color: #555;
    padding: 10px 0;
}

/* OBSERVACOES */

.observacoes p.readonlycels-obs {
    bottom: -263px;
    opacity: 0;
}

@-moz-document url-prefix() {
    .observacoes p.readonlycels-obs {
        max-width: 270px;
    }

    .col-da-linha-de-assinatura p:first-child input {
        width: 305px;
    }
}

.observacoes p.readonlycels-obs.on {
    opacity: 1;
    bottom: calc(50vh - 34px * 1/2); 
    visibility: initial;
}

.observacoes p.readonlycels-obs > span {
    display: none;
}

.observacoes p.readonlycels-obs > span.show {
    display: initial !important;
}



/* Ir para */
.observacoes div.caixa-de-pesquisa { 
    display: flex;
    align-items: center;
    background: #444;
    padding: 4px;
    color: #fff !important;
    justify-content: space-between;
    position: fixed;
    top: -35px;
    right: calc(50vw - 257px / 2);
    transition: top 150ms linear;
    visibility: hidden;
}

.observacoes div.caixa-de-pesquisa.on {
    top: 0;
    visibility: initial;
}

div.caixa-de-pesquisa input.pesquisar-linha { 
    border: none;
    outline: none;
    min-width: 188px;
    padding: 2px 0 2px 5px;
    background-color: #ddd;
    border: 2px solid #444;
}

div.caixa-de-pesquisa input.pesquisar-linha:focus { 
    border-color: rgb(116, 116, 235);
}

div.caixa-de-pesquisa button {
    width: 24px;
    height: 20px;
    font-weight: bold;
}

div.caixa-de-pesquisa button.fechar {
    background-color: inherit;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    margin-left: 2px;
}

div.caixa-de-pesquisa button.fechar:hover {
    cursor: pointer;
    background-color: #D00;
    border-radius: 2px;
}

div.caixa-de-pesquisa button:active {
    color: red;
    border: none;
    outline: none;
}

div.query-sem-resultados {
    max-width: 320px;
    padding: 8px;
    position: fixed;
    top: -133px;
    left: calc(50vw - 302.17px / 2);
    border: 1px solid #aaa;
    border-radius: 8px;
    background-color: #fff;
    transition: top 50ms linear;
    visibility: hidden;
}

div.query-sem-resultados.on {
    top: 0;
    box-shadow: 0 0 15px #555;
    visibility: visible;
}

div.query-sem-resultados p {
    padding: 8px;
    line-height: 1.5;
}

div.query-sem-resultados p:nth-child(2) {
    color: #888 !important;
}

div.query-sem-resultados button {
    width: 50px;
    display: block;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 4px;
    margin: 8px 8px 8px auto;
    background-color: #444;
    line-height: 1.5;
    font-size: 12px;
}

div.query-sem-resultados button:hover {
    background-color: #000;
}

/* ATALHOS */
section.atalhos-do-teclado {
    background: #fafafa;
    top: -105vh;
    right: 0;
    transition: top 50ms linear;
    z-index: 1;
    visibility: hidden;
}  

section.atalhos-do-teclado.on {
    top: 0;
    visibility: initial;
}

@media screen and (min-width: 1300px) {
    section.atalhos-do-teclado {
        right: calc(50vw - 1300px / 2);
    }  
}

section.atalhos-do-teclado .conteudo * {
    line-height: 1.5;
    margin: 20px 0;
    font-size: 14px;
}

section.atalhos-do-teclado .conteudo h2 {
    font-size: 18px;
    color: #000;
}

section.atalhos-do-teclado kbd {
    background-color: #ddd;
    border: 1px solid #888;
    padding: 2px 6px;
    border-radius: 4px;
}

section.atalhos-do-teclado .conteudo {     
    position: relative;
}

section.atalhos-do-teclado button.fechar-conteudo-de-atalhos-do-teclado {
    margin: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -30px;
    right: -10px;
    border: none;
    outline: none;
    font-size: 12px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.atalhos-do-teclado button.fechar-conteudo-de-atalhos-do-teclado:hover,
div.close-article button.fechar-artigo:hover  {
    background-color: #D00;
    color: #fff;
}

section.atalhos-do-teclado button.fechar-conteudo-de-atalhos-do-teclado:active,
div.close-article button.fechar-artigo:active {
    color: red;
}

/* CAIXA DE CONFIRMACAO */

div.caixa-de-confirmacao {
    background: #fff;
    top: calc(50vh - 114px / 2);
    right: calc(50vw - 311.06px / 2);
    border-radius: 8px;
    display: none;
    z-index: 1;
}

div.caixa-de-confirmacao.on {
    display: block;
}


div.caixa-de-confirmacao h3,
div.caixa-de-confirmacao p {
    margin: 10px 0;
    text-align: center;
    font-size: 14px;
}

div.caixa-de-confirmacao p {
    color: #555;
}

div.caixa-de-confirmacao div.botoes-de-confirmacao {
    display: flex;
    justify-content: space-around;
  
    margin: 20px auto auto auto;
}

div.botoes-de-confirmacao button {
    width: calc(50% - 5px);
    font-size: 14px;
    padding: 5px 0;
    border-radius: 4px;
    border: none;
    outline: none;
}

div.botoes-de-confirmacao button:nth-child(1):hover {
    background-color: #ddd;
}

div.botoes-de-confirmacao button:nth-child(2) {
    background-color: #d00;
    color: #fff;
}

div.botoes-de-confirmacao button:nth-child(2):hover {
    background-color: #b00;
}

/* FICHA VAZIA OBS*/
.esvaziamento-da-ficha p.ficha-vazia-obs {
    bottom: calc(-50vh - 40px / 2);
    left: calc(50vw - 180.31px / 2);
    transition: bottom 150ms linear;
}

.esvaziamento-da-ficha p.ficha-vazia-obs.on {
    bottom: calc(50vh - 40px / 2);
    visibility: initial;
}


/* ARTIGOS */

main article {
    width: 100%;
    max-width: 700px;
    height: 100vh;
    overflow-y: scroll;
    margin: auto;
    padding: 20px 3%;
    background-color: #fff;
    font-size: 0.875rem;
    position: fixed;
    top: -100vh;
    left: calc(50vw - 700px * (1/2));
    box-shadow: 0 0 15px #555;
    visibility: hidden;
    transition: top 50ms linear;
    z-index: 1;
}

main article.on {
    visibility: initial;
    top: 0;
}

main article::-webkit-scrollbar {
    width: 10px;
    border: thin solid #ddd;
    padding: 4px;
}

main article::-webkit-scrollbar-thumb {
    background-color: #ddd;
}

article h2, article h3,
article p, article.conversao-pdf ol li {
    line-height: 1.4;
    margin: 20px 0;
}

article ul li {
    margin-bottom: 10px;
    line-height: 1.4;
    list-style: disc inside;
}

article ul li:last-child {
    margin-bottom: 20px;
}

article ol li {
    list-style: numeric inside;
}

article h2 {
    font-size: 1.375rem;
}


article h3 {
    font-size: 1.25rem;
}

article ol li {
    font-size: 1.125rem
}

article.conversao-pdf ol li {
    font-size: 0.875rem;
}

article.conversao-pdf mark.imprimir {
    display: inline-block;
    padding: 4px;
    text-align: center;
    margin: 0;
}

article.conversao-pdf .nota {
    background-color: #dce4f4;
    border-left: 4px solid  blue;
    padding: 8px;
    border-radius: 5px;
}

article.conversao-pdf ol p.nota {
    margin-left: 4%;
    font-size: 12.5px;
}




article p.consentimento {
    border: 1px solid #aaa;
    background-color: #f4f4f4;
    padding: 10px;
    font-size: 12px;
}

div.close-article {
    position: relative;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
}

div.close-article button.fechar-artigo {
    outline: none;
    border: thin solid #ddd;
    border-right: none;
    position: fixed;
    top: 0;
    margin-right: -3%;
    font-size: 28px;
    width: 35px;
    height: 35px;
    opacity: 0.8;
}

/* DESFOQUE DO FUNDO */
div.desfoque-do-fundo.on {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    
}


/*  JAVASCRIPT */
html.smooth {
    scroll-behavior: smooth;
}

.fundo-laranja {
    background-color: #faa032 !important;
    transition-duration: 150ms;
}

article.z-index-10 {
    z-index: 10 !important;
}