
@media screen and (max-width: 1300px) {
    header .linha-do-cabecalho {
        padding-left: 10px;
    }

    main .contentor-da-grade {
        width: 100%;
        overflow-x: scroll;
        padding: 0 calc(100% - (100% - 10px))
    }

    .contentor-da-grade .col-de-consultas-e-diagnosticos,
    .linha-de-faixas-etarias span:first-child,
    .linha-de-sexo span:first-child,
    .col-da-linha-de-assinatura {
        position: -webkit-sticky;
        position: sticky;
        left: -10px;
        background-color: #fff;
    }

    .col-da-linha-de-assinatura {
        left: 0;
    }

    footer .linha-do-rodape {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 1220px) {

    .linha-do-cabecalho {
        flex-direction: column;
        align-items: flex-start;
    }

    .linha-do-cabecalho nav {
        margin: 0;
        width: 100%;
    }
}

@media screen and (max-width: 1178px) {
    .linha-do-rodape {
        position: relative;
    }

    .linha-do-rodape p {
        align-self: flex-start;
        flex: 1;
        margin-right: 0;
    }

    .linha-do-rodape a.voltar {
        position: absolute;
        bottom: -30px;
        left: 5px;
    }
}

@media screen and (max-width: 1023px) {
    
    .linha-do-cabecalho button,
    .linha-do-cabecalho a.abrir-atalhos-do-teclado,
    a.abrir-conteudo-pdf, 
    article.conversao-pdf {
        display: none;
    }   
}

@media screen and (max-width: 790px) {
    body.hide-overflow {
        overflow: hidden;
    }

    header {
        transition: position 1000ms ease;
    }

    header.sticky {
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 1;
    }

    .linha-do-cabecalho {
        min-height: 50px;
        justify-content: center;
        align-items: center;
    }

    .linha-do-cabecalho .hamburguer {
        width: 35px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 8px;
        top: 10px;
        left: 2px;
        padding: 8px;
    }

    .linha-do-cabecalho .hamburguer:active {
        background-color: #ddd;
    }

    .hamburguer div {
        width: 100%;
        height: 2px;
        background-color: #888;
        margin: 1.5px 0;
        transition: all 250ms ease;
    }

    .hamburguer.on div:nth-child(1) {
        transform: rotate(-45deg) translate(-2px, 1px);
    }

    .hamburguer.on div:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.on div:nth-child(3) {
        transform: rotate(45deg) translate(-6px, -5px);
    }

    /** Formatação do nav **/
   
    .linha-do-cabecalho nav {
        position: absolute;
        left: -77vw;
        top: 51px;
        width: 77vw;
        padding: 0 0 0 15px;
        background-color: #fff;
        font-size: 14px;
        z-index: 1;
        visibility: hidden;
        transition: left 50ms ease;
    }

    /* ABERTURA DO MENU */
    .linha-do-cabecalho nav.on {
        left: 0;
        visibility: visible;
    }

    .linha-do-cabecalho nav ul {
        flex-direction: column;
        align-items: flex-start;
        margin-right: 10px;
        width: 100%;
    }

    .linha-do-cabecalho nav ul li {
        width: 100%;
    }

    .linha-do-cabecalho nav ul li:nth-child(1) {
        justify-content: flex-start;
        padding: 10px;
        position: relative;
    }

    .linha-do-cabecalho nav ul li:nth-child(1) input {
        position: absolute;
        left: 214px;
        height: 16px;
        width: 16px;
    }

    .linha-do-cabecalho nav ul li:nth-child(1) label {
        flex: 1;
    }

    .linha-do-cabecalho nav ul a {
        padding: 10px !important;
        width: 100%;
    }

    .linha-do-cabecalho nav ul li:hover,
    .linha-do-cabecalho nav ul a:hover {
        background-color: #fff !important;
    }

    .linha-do-cabecalho nav ul li:nth-child(1):active,
    .linha-do-cabecalho nav ul a:active {
        background-color: #ddd !important
    }

    .linha-do-cabecalho nav ul li:nth-child(1) input {
        order: 2;
    }

    /* ARTIGOS */
    main article {
        box-shadow: none;
        max-width: 100%;
        padding-bottom: 40px;
        left: -100vw;
        transition: left 250ms ease;
        top: 51px;
    }

    main article.on {
        top: 51px;
        left: 0;
    }

    div.close-article button.fechar-artigo {
        top: 51px;
    }

    div.close-article button.fechar-artigo:active {
        background-color: #D00 !important;
    }

   /* DESFOQUE */
    div.desfoque-do-fundo {
        transition-duration: 100ms;
    }

    div.desfoque-do-fundo.on.parcial {
        top: 51px;
    }

    .z-index-9 {
        z-index: 9;
    }

    header.z-index-10,
    nav.z-index-10 {
        z-index: 10 !important;
    }

}

@media screen and (max-width: 590px) {
    .linha-do-rodape {
        flex-direction: column;
        align-items: flex-start;
    }

    .linha-do-rodape div.outros-servicos {
        flex-basis: auto;
        width: 100%;
    }

    .linha-do-rodape h4,
    .linha-do-rodape li,
    .linha-do-rodape a.voltar {
        font-size: 14px;
    }

    .linha-do-rodape p {
        margin-top: 20px;
        border-top: thin dashed #aaa;
        padding: 10px 0;
    }  
}

@media screen and (max-width: 330px) {
    .linha-do-cabecalho nav {
        width: 82vw;
    }
}